body {
    background-color: #F2F2E3;

}


.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap;
}



#navbartitle02:hover, #navbartitle02:hover, #navbartitle02:hover {
    color: #595353 !important;
}

.navbar {
  background-color: #F7735E;
}

.nav-item {
  font-size: 1.2rem;
}

.navbar-icon {
    color: #343a40;
}

a:hover {
  color: #343a40;
  text-decoration: underline;
}

.bi-bi-layers-half {
    width:1.5em;
    height:1.5em;
    fill:currentColor;
}

.bi-bi-lightning-fill {
    width:10em;
    height:10em;
    fill:#0046A3;
}

.bi-bi-kanban-fill {
    width:10em;
    height:10em;
    fill:#FF0019;
}

.bi-bi-toggles {
    width:10em;
    height:10em;
    fill:#F2F200;
}

.bi-bi-envelope-fill, .bi-bi-person-plus-fill, .bi-bi-lock-fill {
    width:2em;
    height:2em;
    fill:#F2F200;
}

.btn {
  background-color: #F7735E;
  border-color: #F7735E;
  color: #000000;

}

.btn:hover {
  background-color: #fa593e !important;
  border-color: #fa593e !important;
}


.btn:focus {
  background-color: #fa593e !important;
  border-color: #fa593e !important;
}

#foot_01 {
  background-color: #F7735E;
  border-color: #F7735E;
  color: #000000;

}

#foot_01:hover {
  background-color: #fa593e !important;
  border-color: #fa593e !important;
  color: #000000 !important;
}


#foot_01:focus {
  background-color: #fa593e !important;
  border-color: #fa593e !important;
}


.inner {
    overflow: hidden !important;
}

.inner img{
    transition: all 1.5s ease !important;

}

.inner:hover img{
    transform: scale(1.5) !important;
}
 .card-img-top {
     height: 210;
 }


#card-body-search {
     height: 160;
 }


 #register_01 {
     background-color: #873E69 !important;
     color: #FFFFFF !important;
     text-align: center;
     max-width: 20rem;

 }

 #registerbody_01 {
     height: auto;
 }

#viewbox01 {
    display: flex;
    align-content:  center;
}
