.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.50rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-item {
  font-size: 1.25rem;
}

svg {
    width:2em;
    height:2em;
}
