{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <form action="{% url 'iprocarlo_app:new_search' %}" method="post">
            {% csrf_token %}
              <div class="form-row my-5">
                <div class="col-9">
                  <input type="text" name="search" class="form-control form-control-lg" placeholder="Search">
                </div>
                <div class="col">
                    <select name="value" class="form-control form-control-lg">
                      <option value="">Filter</option>
                      <option value="ccc, community">community</option>
                       <option value="eee, events">events</option>
                       <option value="sss, for sale">for sale</option>
                       <option value="ggg, gigs">gigs</option>
                        <option value="hhh, housing">housing</option>
                        <option value="jjj, jobs">jobs</option>
                        <option value="rrr, resumes">resumes</option>
                        <option value="bbb, services">services</option>
                    </select>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
        </form>

        <h2 style="text-align: center">{{ search_text | title }} {{ filter_name }}</h2>
        <div class="row mx-auto my-4">
            {% for post in final_postings %}
                <div class="col my-3">
                    <div class="card" style="width: 18rem;">
                        <div class="inner">
                             <a href="{{ post.2 }}"><img src="{{ post.5 }}" class="card-img-top" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ post.1 }}</h5>
                            <p class="card-text">{{ post.0 }} {{ post.3 }}</p>
                        </div>
                        <a href="{{ post.2 }}" class="card-footer" id="foot_01">{{ post.4 }} View Now!</a>                    
                    </div>
                </div>
            {% endfor %}
        </div>





    </div>

{% endblock content %}
