{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <form action="{% url 'iprocarlo_app:new_search' %}" method="post">
            {% csrf_token %}
              <div class="form-row my-5">
                <div class="col-9">
                  <input type="text" class="form-control form-control-lg" placeholder="Search">
                </div>
                <div class="col">
                    <select id="inputState" class="form-control form-control-lg">
                      <option selected>Filter</option>
                      <option value="ccc">community</option>
                       <option value="eee">events</option>
                       <option value="sss">for sale</option>
                       <option value="ggg">gigs</option>
                        <option value="hhh">housing</option>
                        <option value="jjj">jobs</option>
                        <option value="rrr">resumes</option>
                        <option value="bbb">services</option>
                    </select>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
        </form>
        <div class="row mx-auto">
            <div class="col my-2">
                <div class="card" style="width: 18rem;">
                    <div class="inner">
                         <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_weight_other/1800x1200_cat_weight_other.jpg?resize=600px:*" class="card-img-top" alt="...">
                    </div>

                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card" style="width: 18rem;">
                  <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_weight_other/1800x1200_cat_weight_other.jpg?resize=600px:*" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>

            </div>
            <div class="col my-2">
                <div class="card" style="width: 18rem;">
                  <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_weight_other/1800x1200_cat_weight_other.jpg?resize=600px:*" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card" style="width: 18rem;">
                  <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_weight_other/1800x1200_cat_weight_other.jpg?resize=600px:*" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>

            </div>
        </div>
        </div>




    </div>

{% endblock content %}
