{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <form action="{% url 'new_search' %}" method="post">
            {% csrf_token %}
              <div class="form-row my-5">
                <div class="col-9">
                  <input type="text" name="search" class="form-control form-control-lg" placeholder="Search">
                </div>
                <div class="col">
                    <select name="value" class="form-control form-control-lg">
                      <option value=" , " selected>Filter</option>
                      <option  value="{{filter_codes.0}},{{filter_names.0}}">{{filter_names.0}}</option>
                       <option value="{{filter_codes.1}},{{filter_names.1}}">{{filter_names.1}}</option>
                       <option value="{{filter_codes.2}},{{filter_names.2}}">{{filter_names.2}}</option>
                       <option value="{{filter_codes.3}},{{filter_names.3}}">{{filter_names.3}}</option>
                        <option value="{{filter_codes.4}},{{filter_names.4}}">{{filter_names.4}}</option>
                        <option value="{{filter_codes.5}},{{filter_names.5}}">{{filter_names.5}}</option>
                        <option value="{{filter_codes.6}},{{filter_names.6}}">{{filter_names.6}}</option>
                        <option value="{{filter_codes.7}},{{filter_names.7}}">{{filter_names.7}}</option>
                    </select>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
        </form>

        <h2 style="text-align: center">{{ search_text | title }} {{ filter_name }}</h2>
        <div class="row mx-auto my-4">
            {% for post in final_postings %}
                <div class="col my-3">
                    <div class="card" style="width: 18rem;">
                        <div class="inner">
                             <a href="{{ post.2 }}"><img src="{{ post.5 }}" class="card-img-top" alt="..."></a>
                        </div>
                        <div class="card-body" id="card-body-search">
                            <h5 class="card-title">{{ post.1 }}</h5>
                            <p class="card-text">{{ post.0 }} {{ post.3 }}</p>
                        </div>
                        <a href="{{ post.2 }}" class="card-footer" id="foot_01">{{ post.4 }} View Now!</a>
                    </div>
                </div>
            {% endfor %}
        </div>





    </div>

{% endblock content %}
